
    <header style="background-image:url(<%= asset_path 'header.jpg' %>)">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">To Find Something <br> My Mind is Drawn To</h1>
                <hr>
                <p>Be Innovative, Persistent, Immersed</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-3x fa-diamond sr-icons"></i>
                    <h2 class="section-heading heading_inlineblock">KyungJin, Karen, Kim</h2>
                    <hr class="light">
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Birth</span> <br> 1996.12.8<br> South Korea</p>
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Address</span> <br> Myeongnyun 2-gil Jongno-gu Seoul, South Korea </p>
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Contact</span> <br> +82 10-6851-1208 <br> kimkj4838@gmail.com</p>                    
                    <p class="col-lg-12"><a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a></p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Portfolio hahaha</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-star-o text-primary sr-icons"></i>
                            <h3>Main Activity</h3>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">2015 - Present</p>
                                <p class="col-sm-10 pf_content">2015년 활동
                                    <br><span class="pf_content_header">동아리, 장학재단</span>
                                    <br><span>- 축구 동아리 매니저 'FC 글경'</span>
                                    <br><span>- 영화 소모임 'Filmologue'</span>
                                    <br><span>- 미래인재 육성재단 장학생 선정</span>
                                </p>
                            </div>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">2016 - Present</p>
                                <p class="col-sm-10 pf_content">2016년 활동
                                    <br><span class="pf_content_header">학회, 봉사활동, 디자인스쿨</span>
                                    <br><span>- SiO 4기</span>
                                    <br><span>- 둥근나라 아동그룹홈 수학 지도</span>
                                    <br><span>- UX디자인스쿨 3기, 기획자</span>
                                </p>
                            </div>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">2017 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                    <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                    <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                    <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                    <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                            <h3>Work Experience</h3>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                    <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                    <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                    <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                    <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Extra Activity & Experience</h3>
                        <div class="row pf_div">
                            <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                            <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                            </p>
                        </div>
                        <div class="row pf_div">
                            <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                            <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Additional Skills & Informations</h3>
                        <div class="row pf_div">
                            <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                            <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="https://www.facebook.com/" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/3.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    SNS
                                </div>
                                <div class="project-name">
                                    Facebook
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://sskklub.herokuapp.com" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/4.jpg", class: "img-responsive" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    SKKU Club Informations 
                                </div>
                                <div class="project-name">
                                    SKKLUB
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://pool.skku.edu" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/5.jpg", class: "img-responsive" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    SKKU Marketing Experiment Page
                                </div>
                                <div class="project-name">
                                    Pool.skku
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://www.instagram.com/leedy7018/" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/6.jpg", class: "img-responsive" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Literature Creation
                                </div>
                                <div class="project-name">
                                    1 day 1 writing
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 popup-gallery">
                    <a href="assets/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/1.jpg", class: "img-responsive" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Favorite Images
                                </div>
                                <div class="project-name">
                                    Takoyaki
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 popup-gallery">
                    <a href="assets/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/2.jpg", class: "img-responsive" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Favorite Images
                                </div>
                                <div class="project-name">
                                    My Mac Pro
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading" style="text-align:center"> </h2>
                    <hr class="primary">
                    <p></p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>+82 10-6851-1208</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">kimkj4838@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
